---
import SectionContainer from "../../../components/SectionContainer.astro";
import TailwindBadge from "../../../components/TailwindBadge.astro";
import LayoutDocs from "../../../layouts/LayoutDocs.astro";
import ShowCase from "../../../components/ShowCase.astro";
---

<LayoutDocs title="RaidrUI | Docs - Get Started" description="Get Started">
    <main class="px-4 w-full">
		<SectionContainer class="py-20 md-py-36 flex flex-col gap-y-4">
			<h1 class="text-4xl font-bold text-start">Badges</h1>
			<TailwindBadge />
			<p class="text-gray-400">Badges are used as a small numerical value or status descriptor for UI elements.</p>
			<h2 class="text-2xl font-bold">Usage</h2>
			<ShowCase>
				<span class="inline-flex items-center justify-center gap-2 px-4 py-1 space-x-2 text-sm text-black dark:text-white transition bg-gray-200 dark:bg-gray-800 group max-w-fit rounded-full">Primary</span>
				<span class="inline-flex items-center justify-center gap-2 px-4 py-1 space-x-2 text-sm text-green-800 dark:text-green-300 transition bg-green-200 dark:bg-green-800 group max-w-fit rounded-full">Green</span>
				<span class="inline-flex items-center justify-center gap-2 px-4 py-1 space-x-2 text-sm text-yellow-800 dark:text-yellow-300 transition bg-yellow-200 dark:bg-yellow-800 group max-w-fit rounded-full">Yellow</span>
				<span class="inline-flex items-center justify-center gap-2 px-4 py-1 space-x-2 text-sm text-red-800 dark:text-red-300 transition bg-red-200 dark:bg-red-800 group max-w-fit rounded-full">Red</span>
			</ShowCase>
			<h2 class="text-2xl font-bold">Avaible Pill</h2>
			<ShowCase>
				<span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
					<span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
					Available
				</span>
			</ShowCase>
			<h2 class="text-2xl font-bold mt-4">Dismiss Badges</h2>
			<ShowCase>
				<span id="badge-dismiss-default" class="inline-flex items-center px-2 py-1 me-2 text-sm font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-900 dark:text-blue-300">
					Default
					<button type="button" class="inline-flex items-center p-1 ms-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-800 dark:hover:text-blue-300" data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
					<svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
					</svg>
					<span class="sr-only">Remove badge</span>
					</button>
				</span>
			</ShowCase>
			<h2 class="text-2xl font-bold mt-4">Time Badges</h2>
			<ShowCase>
				<span class="bg-gray-200 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-blue-400 border border-blue-400">
					<svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
					<path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
					</svg>
					2 minutes ago
					</span>
			</ShowCase>
			<h2 class="text-2xl font-bold mt-4">Notifications Badges</h2>
			<ShowCase>
				<i class="ph ph-bell relative inline-flex items-center cursor-pointer text-xl transition hover:text-blue-600 dark:hover:text-[#12a4ed]">
					<span class="absolute inline-flex items-center justify-center size-4 text-xs text-center text-white bg-blue-700 dark:bg-[#12a4ed] rounded-full -top-2 -end-2 font-extrabold font-sans select-none">2</span>
				</i>
			</ShowCase>
		</SectionContainer>
	</main>
</LayoutDocs>