---
import SectionContainer from "../../../components/SectionContainer.astro";
import TailwindBadge from "../../../components/TailwindBadge.astro";
import LayoutDocs from "../../../layouts/LayoutDocs.astro";
import ShowCase from "../../../components/ShowCase.astro";
---

<LayoutDocs title="RaidrUI | Docs - Get Started" description="Get Started">
    <main class="px-4 w-full">
		<SectionContainer class="py-20 md-py-36 flex flex-col gap-y-4">
			<h1 class="text-4xl font-bold text-start">Input Fields</h1>
			<TailwindBadge />
			<p class="text-gray-400">The input field is an important part of the form element that can be used to create interactive controls to accept data from the user based on multiple input types, such as text, email, number, password, URL, phone number, and more.</p>
			<h2 class="text-2xl font-bold">Input field</h2>
			<ShowCase>
                <div class="w-3/4">
                    <label class="block mb-2 text-normal font-medium text-gray-900 dark:text-white">Username</label>
                    <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
                </div>
			</ShowCase>
            <h2 class="text-2xl font-bold">Icon + Input field</h2>
            <ShowCase>
                <div class="relative w-3/4">
                    <label class="block mb-2 text-normal font-medium text-gray-900 dark:text-white">Email</label>
                    <div class="absolute inset-y-0 start-0 mt-8 flex items-center ps-3.5 pointer-events-none">
                      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                          <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                          <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                      </svg>
                    </div>
                    <input type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@raidrui.com" required />
                  </div>
            </ShowCase>
            <h2 class="text-2xl font-bold">Input field with anotation</h2>
			<ShowCase>
                <div class="w-3/4">
                    <div class="flex justify-between mb-2">
                        <label class="block text-normal font-medium text-gray-900 dark:text-white">Address</label>
                        <span class="text-normal text-gray-400 dark:text-gray-500">Optional</span>
                    </div>
                    <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" />
                </div>
			</ShowCase>
            <h2 class="text-2xl font-bold">Input number</h2>
			<ShowCase>
                <div class="w-3/4">
                    <label class="block mb-2 text-normal font-medium text-gray-900 dark:text-white">Number</label>
                    <input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
                </div>
			</ShowCase>
		</SectionContainer>
    </main>            
</LayoutDocs>