<aside class="fixed z-10 bg-white dark:bg-black hidden lg:block pl-10 h-full w-fit mt-[70px]">
    <nav class="">
        <ul class="space-y-2">
            <li class="py-2">
                <h3 class="mb-2 dark:text-gray-200 text-lg font-bold">Guide</h3>
                <ul class="space-y-1 px-4">
                    <li class="py-2 list-disc">
                        <a href="/docs/get-started" class="dark:text-gray-400 dark:hover:text-blue-500">Getting Started</a>
                    </li>
                    <li class="py-2 list-disc">
                        <a href="/docs/installation" class="dark:text-gray-400 dark:hover:text-blue-500">Installation</a>
                    </li>
                    <li class="py-2 list-disc">
                        <a href="/docs/installation" class="dark:text-gray-400 dark:hover:text-blue-500">Dark mode</a>
                    </li>
                </ul>
            </li>
            <li class="py-2">
                <h3 class="mb-2 dark:text-gray-200 text-lg font-bold">Components</h3>
                <ul class="space-y-1 px-4">
                    <li class="py-2 list-disc">
                        <a href="/docs/components/buttons" class="dark:text-gray-400 dark:hover:text-blue-500">Buttons</a>
                    </li>
                    <li class="py-2 list-disc">
                        <a href="/docs/components/badges" class="dark:text-gray-400 dark:hover:text-blue-500">Badges</a>
                    </li>
                    <li class="py-2 list-disc">
                        <a href="/docs/components/alerts" class="dark:text-gray-400 dark:hover:text-blue-500">Alerts</a>
                    </li>
                    <li class="py-2 list-disc">
                        <a href="/docs/components/dialogs" class="dark:text-gray-400 dark:hover:text-blue-500">Dialogs</a>
                    </li>
                    <li class="py-2 list-disc">
                        <a href="/docs/components/dropdowns" class="dark:text-gray-400 dark:hover:text-blue-500">Dropdowns</a>
                    </li>
                    <li class="py-2 list-disc">
                        <a href="/docs/components/input-field" class="dark:text-gray-400 dark:hover:text-blue-500">Input Fields</a>
                    </li>
                    <li class="py-2 list-disc">
                        <a href="/docs/components/cards" class="dark:text-gray-400 dark:hover:text-blue-500">Cards</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
