---
import TailwindIcon from "./icons/Tailwind.astro";
---

<a
    href="https://tailwindcss.com/docs/installation"
    class="flex gap-x-2 w-fit rounded-full text-xs py-1 px-3 bg-blue-500 dark:bg-blue-500 cursor-pointe hover:scale-110 transition mb-4"
    target="_blank"
    rel="noopener noreferrer"
>
    <TailwindIcon class="size-4" />
    Required Tailwind CSS
</a>
