---
import "@fontsource-variable/onest"

import Header from '../components/Header.astro';
import Sidebar from "../components/Sidebar.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://unpkg.com/@phosphor-icons/web"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative text-black bg-white dark:bg-black dark:text-white">
		<Header />
        <Sidebar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		color: rgba(17, 17, 17, 0.9);
		display: flex;
		font-display: column;
		overscroll-behavior: none;
	}

	@media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
    }

	@media (prefers-color-scheme: dark) {
		body {
			color: rgba(255, 255, 255, 0.9);
		}
	}
</style>
